@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent-1: var(--accent-color-1);
  --color-accent-2: var(--accent-color-2);
  --color-neutral-light: var(--neutral-color-light);
  --color-neutral-dark: var(--neutral-color-dark);
  --color-section-bg: var(--section-bg);
  --color-feature-bg: var(--feature-bg);
  --color-body-bg: var(--body-bg);
  --color-tcard-bg: var(--testimonial-card-bg);
  --radius-custom-radius: var(--custom-radius);
  --custom-spacing: var(--custom-spacing);
}

body {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-spacing {
  gap: var(--custom-spacing);
}
